<h1>Fill out the following to create a new user</h1>

 <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>

<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit "Create" %>
<% end %>