<div class="container center">
	<div class="col-md-12 centered">
  <h1> Store Admin user </h1>
  	</div>
</div>

<div class="body-container">
	<div class="col-md-2 col-md-offset-1 well ">
		<p>Navigation Options</p>
		Users<br>
		Adresses<br>
		Orders<br>
		Products<br>
		Categories<br>
		<br>
		<%=link_to "Dashboard",dashboard_index_path %>
	</div>

	<div class="col-md-8 well">
		<div class="col-md-6 col-md-offset-4">
		<h2>Store Users</h2>
		</div>

		<div class="col-md-7 col-md-offset-2">
		<%= button_to('Create New User', new_user_path, :class => 'btn btn-primary btn-lg btn-block centered')  %>
		<li> <%=link_to "Create New User", new_user_path %> </li>
		</div>
 		
		<div class="col-md-9 col-md-offset-1 well">
		<table>
		  <tr>
		    <th>ID</th>
		    <th>Name</th>
		    <th>City</th>
		    <th>Show</th>
		    <th>Edit</th>
		    <th>Delete</th>
		  </tr>
		  
		  <% @categories.each do |category|%>
		  <tr>
		    <td><%=category.id%></td>
		    <td><%=category.name%></td>
		    <td><%=category.description%></td>
		    <td><%=link_to"Show",category_path(category)%></td>
		    <td><%=link_to"Edit",edit_category_path(category)%></td>
		    <td><%=link_to "Delete", category_path(category), method: :delete %></td>
		  </tr>

		  <%end%>
		  
		</table>


		</div>



	</div>
</div>